apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-lwptitgw
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-lwptitgw:4e005065fb7179deb66ddb3fc9e9e0930c7542f4@sha256:3b28d637e5de167f2910a574a89499a5674f9660bc08bc1d8aeb8dd64ec34756
          name: container-image
